.catalogPage {
  display: flex;
}

.catalogPage h1 {
  color: #E44848;
  margin-bottom: 1.5rem;
}

.filters {
  width: 250px;
  margin-right: 20px;
}

.filters h2 {
  color: #E44848;
  margin-bottom: 1rem;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filterButtons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.filterButtons button.activeFilter {
  background-color: #E44848;
  color: white;
}

.camperList {
  flex: 1;
}