.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E44848;
    padding: 1rem;
    color: white;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }